<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presensiguru">

    <!-- Izin yang dibutuhkan aplikasi -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PresensiApp">

        <!-- Aktivitas untuk Pemindaian QR Code -->
        <activity android:name=".ScanQRCodeActivity" />

        <!-- Aktivitas untuk Registrasi Guru -->
        <activity android:name=".RegistrasiGuruActivity" />

        <!-- Aktivitas untuk Profil Guru -->
        <activity android:name=".ProfilActivity" />

        <!-- Aktivitas untuk Menampilkan Data Guru (Admin) -->
        <activity android:name=".DataGuruActivity" />

        <!-- Aktivitas untuk Menampilkan Data Presensi (Admin) -->
        <activity android:name=".DataPresensiActivity" />

        <!-- Aktivitas untuk Halaman Utama Admin -->
        <activity android:name=".AdminMainActivity" />

        <!-- Aktivitas untuk Halaman Utama Guru -->
        <activity android:name=".GuruMainActivity" />

        <!-- Aktivitas untuk Halaman Utama Guru -->
        <activity android:name=".QrCodeGuruActivity" />

        <!-- Aktivitas utama (Login Activity) -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
